alembic 
bcrypt 
cffi 
click 
Flask 
Flask-Bcrypt 
Flask-Migrate 
Flask-SQLAlchemy 
greenlet 
itsdangerous 
Jinja2 
Mako 
MarkupSafe 
pycparser 
PyJWT 
python-dateutil 
setuptools==68.2.2
six 
SQLAlchemy 
typing_extensions 
Werkzeug 
wheel==0.41.2
